:root {
    --zakladni-velikost-pisma: 16px;
    --druh-pisma: 'Inter', sans-serif;

    --pozadi-aplikace:
    --pozadi-navigace:
    --pozadi-zapati:
    --pozadi-elementu:
    --pozadi-tlacitek:
    --pozadi-zprava-uspech:
    --pozadi-zprava-chyba:
    
    --barva-pisma-primarni:
    --barva-pisma-sekundarni:
    --barva-pisma-seda:

    --vrzeny-stin:

}

html {
    font-size: var(--zakladni-velikost-pisma);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-size: var(--druh-pisma);
    background-color: var(--pozadi-aplikace);
}

img {
    max-width: 100%;
}
