:root {
    --zakladni-velikost-pisma: 16px;
    --druh-pisma: 'Inter', sans-serif;
}

html {
    font-size: var(--zakladni-velikost-pisma);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-size: var(--druh-pisma);
}

img {
    max-width: 100%;
}
